
.main{
	background: #E0F8F7;
}



table {
	
	font-family: Georgia, serif;
	text-align: center;
}

.listar{

	text-align: center;
	color: #0A2A0A;
}


h1, h2, h4 {
	
	font-family: Georgia, serif;
	text-align: center;
	color: ##04B431;
}

.jumbotron {
	
	font-family: Georgia, serif;
	

}


.footer {
 
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  background-color: #D0F5A9;

  font-family: Georgia, serif;
}

button:hover{

	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
	
}


#btn1{

	text-align: center;
   	opacity:0.6;
   	filter:alpha(opacity=90); /* IE < 9.0 */ 
	MARGIN: 0 auto ; 
	font-family: Georgia, serif;
}

#btn2{

	text-align: center;
   	opacity:0.6;
   	filter:alpha(opacity=90); /* IE < 9.0 */ 
	MARGIN: 0 auto ; 
	font-family: Georgia, serif;
	
}

#Borrar{
	
	text-align: center;
   	opacity:0.6;
   	filter:alpha(opacity=90); /* IE < 9.0 */ 
	MARGIN: 0 auto ; 
	font-family: Georgia, serif;
}

.booton{

	text-align: center;
   	opacity:0.6;
   	filter:alpha(opacity=90); /* IE < 9.0 */ 
	MARGIN: 0 auto ; 
	font-family: Georgia, serif;


}

video{

	position: fixed;
	min-width: 100%
	min-height: 100%;
	top:50%;
	left: 50%;

	transform: translatex(-50%) translatey(-50%);
	z-index: -1;
}